In [1]:
import pandas as pd

In [5]:
s2 = pd.Series([23, 35, 25, 63, 14, 69], index=["Alek", "Abhi", "Aniket", "Chandan", "Ashu", "dev"])

In [6]:
s2

Alek       23
Abhi       35
Aniket     25
Chandan    63
Ashu       14
dev        69
dtype: int64

In [7]:
data = {
    "name" : ["Alek", "Ani", "Ashu"],
    "age" : [19, 20, 19],
    "city" : ["Multai", "Tikamgarh", "Balaghat"]
}

In [9]:
df = pd.DataFrame(data)

In [10]:
df

   name  age       city
0  Alek   19     Multai
1   Ani   20  Tikamgarh
2  Ashu   19   Balaghat